.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

.letter-extended {
    letter-spacing: 0.6em;
}

.no-letter {
    letter-spacing: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-title {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: white;
}

.second-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    color: black;
}

.third-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    color: white;
}

.header {
    background-color: #fff;
    padding: 92px 0 96px 0;
}

.header__container {
    padding-left: 50px;
    padding-right: 50px;
}

.header__nav {
    margin-top: 3px;
}

.nav-list {
    gap: 32px;
    list-style-type: circle;
    margin-right: 36px;
}

.nav-list__item_main {
    list-style: none;
}

.nav-list__link {
    font-size: 18px;
    line-height: 21px;
    transition: color .3s ease, background-color .3s ease;
}

.nav-list__item:not(.nav-list__item_main) .nav-list__link {
    letter-spacing: 0.01em;
    border-bottom: 1px solid black;
}

.nav-list__link:focus-visible {
    background-color: black;
    color: white;
}

.nav-list__link:hover {
    background-color: black;
    color: white;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.contacts {
    flex: 1;
    justify-content: end;
    flex-direction: column;
    max-width: 240px;
    margin-left: auto;
    font-style: normal;
}

.contacts-list {
    flex-direction: column;
    align-self: start;
}

.contacts-list__item {
    font-size: 18px;
    line-height: 24.3px;
}

.contacts__address {
    font-size: 18px;
    line-height: 24.3px;
}

.phone .contacts-list__link {
    border-bottom: 1px solid black;
    letter-spacing: 0.01em;
}

.mail .contacts-list__link {
    border-bottom: 1px solid black;
    letter-spacing: 0.01em;
}

.contacts-list__link {
    transition: color .3s ease, background-color .3s ease;
}

.contacts-list__link:focus-visible {
    color: white;
    background-color: black;
}

.contacts-list__link:hover {
    color: white;
    background-color: black;
}

.hero__container {
    position: relative;
    z-index: 1;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 757px;
    background: url('../images/cover.jpg') no-repeat center / cover;
}



.hero__title {
    flex-direction: column;
    flex: 1;
    padding-top: 165px;
    width: 100%;
}

.hero__word_start {
    align-self: flex-start;
    line-height: 115px;
}

.hero__word_center {
    padding-top: 20px;
    align-self: center;
}

.hero__word_end {
    padding-top: 20px;
    align-self: flex-end;
}

.hero__bottom {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 51px;
    color: white;
}

.hero__subtitle {
    word-spacing: 19px;
    padding-left: 28px;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}

.hero__link {
    padding: 12px 32px 11px 31px;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    border: 1px solid white;
    text-transform: uppercase;
}

.hero__link:focus-visible {
    color: white;
    background-color: black;
    border-color: black
}

.hero__link:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.lots {
    padding-top: 179px;
    padding-bottom: 146px;
}

.lots__title {
    padding-left: 40px;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.lots-list {
    flex-wrap: wrap;
    align-items: stretch;
    gap: 25px;
    margin-bottom: 30px;
}

.lots-list__item {
    align-items: stretch;
}

.lots-list__content {
    position: relative;
    z-index: 1;
    padding: 51px 40px 48px 40px;
    flex-direction: column;
    flex: 1;
    max-width: 334px;
    min-height: 563px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform .3s ease;
}

.lots-list__content:focus-within {
    transform: scale(1.03);
}

.lots-list__content:hover {
    transform: scale(1.03);
}

.lots-list__title {
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.lots-list__descr {
    position: relative;
    z-index: 1;
    margin-top: auto;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.lots-list__content_bg-film {
    background-image: url('../images/card-lot-01.jpg');
}

.lots-list__content_bg-book {
    background-image: url('../images/card-lot-02.jpg');
}

.lots-list__content_bg-picture {
    background-image: url('../images/card-lot-03.jpg');
}

.lots__link {
    margin-left: 40px;
    border-bottom: 1px solid black;
    font-size: 20px;
    line-height: 23.48px;
    transition: color .3s ease, background-color .3s ease;
}

.lots__link:focus-visible {
    color: white;
    background-color: black;
}

.lots__link:hover {
    color: white;
    background-color: black;
}

.about {
    padding: 35px 0 175px 47px;
}

.about__container {
    align-items: unset;
    gap: 72px;
}

.about__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about__img {
    display: block;
    width: 148px;
    height: 114px;
}

.about__right {
    padding-top: 102px;
    max-width: 693px;
}

.about__title {
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__descr {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.about__descr:not(:last-of-type) {
    margin-bottom: 24px;
}

.footer {
    padding-top: 5px;
    padding-bottom: 88px;
}

.footer__container {
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: start;
}

.footer__contacts {
    margin-left: unset;
}

.footer__nav {
    padding-left: 37px;
}

.footer__nav .nav-list {
    list-style: none;
    gap: 0;
    flex-direction: column;
}

.social-list {
    gap: 48px;
}

.social-list__link {
    display: block;
    width: 48px;
    height: 48px;
    transition: background-color .3s ease, border-radius 0.3 ease;
}

.social-list__icon path {
    transition: fill .3s ease;
}

.social-list__link:focus-within {
    background-color: black;
    border-radius: 50%;
}

.social-list__link:hover {
    background-color: black;
    border-radius: 50%;
}

.social-list__link:focus-within .social-list__icon path {
    fill: white;
}

.social-list__link:hover .social-list__icon path {
    fill: white;
}